body {
    font-family: 'Nunito', sans-serif;
}

#header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid brown;
    align-items: baseline;
}

#menu-header {
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: bold;
}

.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filterbar{
    width: 700px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0px;
}

#filter-button{
    height: 30px;
    background-color: white;
    border-top: 2px black solid;
    border-bottom: 2px gray solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0px solid;
}